<h2>{{section.settings.heading}}</h2>

<div class="faq">
    {% for block in section.blocks %}
        {% if block.type == 'headline' %}
            <h4>{{block.settings.title}}</h4>
        {% elsif block.type ==  'QA' %}
            <div class="question">
                <input type="checkbox" id="question-{{block.id}}" class="question-toggle">
                <label for="question-{{block.id}}" class="question-label">{{block.settings.question}}</label>
                <div class="answer">{{block.settings.answer}}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>


{% schema %}
{
    "name": "Customer QA",
    "settings": [
        {
            "type": "text",
            "label": "Heading for FAQ",
            "id": "heading"
        }
    ],
    "blocks": [
        {
            "type": "QA",
            "name": "Question/Answer",
            "settings": [
                {
                    "type": "text",
                    "label": "Title (internal use only)",
                    "id": "title"
                },
                {
                    "type": "text",
                    "label": "Question",
                    "id": "question"
                },
                {
                    "type": "richtext",
                    "label": "Answer",
                    "id": "answer"
                }
            ]
        },
        {
            "type": "headline",
            "name": "Headline",
            "settings": [
                {
                    "type": "text",
                    "label": "Headline for Questions",
                    "id": "title"
                }
            ]
        }
    ]
}
{% endschema %}